body {
    
    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    background-size: cover;
}
.container {
    margin-top: 30px;
    
}
.header {
	background-color: #1c53ec;
	width: 100%;
	margin: 0 auto;
	

}
.instructions{
    color: rgb(8, 8, 240);
}
