body {
    
   background-image: url(../images/crystalcollector.jpeg);
    background-size: cover;
}
.container {
    margin-top: 30px;
    
}
.header {
	background-color: #1c53ec;
	width: 100%;
	margin: 0 auto;
	

}
.instructions{
    color: rgb(139, 240, 8);
}
